<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Four in line</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/splash.css">
  </head>
  <body>
    <div class="wrapper">
        <main class="welcome">
            <img class="logo" src="images/logo_big.png" alt="logo">
            <p class="description">blah</p>
            <img class="name" src="images/connect_logo_big.png" alt="game name">
            <input type="text" name="player-name" id="player-name">
            <button id="play-btn">PLAY!</button>
            <div class="stat">stat 1</div>
            <div class="stat">stat 2</div>
            <div class="stat">stat 3</div>

        </main>
    </div>
    <footer></footer>
  </body>
</html>
