.status-bar {
    display: grid;
    grid-template-columns: 3fr 2.5fr 3fr;
    grid-template-rows: 1fr 2fr;
}

.status-bar > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.player {
    grid-row: 2;
    font-size: 2em;
    background-color: whitesmoke;
    color: #333;
    box-shadow: #333 0 0 10px;
}

.player:nth-child(1) {
    grid-column: 1;
}

.player:nth-child(3) {
    grid-column: 3;
}

.player > .color {
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #777;
    border-radius: .7em;
    box-sizing: border-box;
}

.turn-indicator {
    border-radius: 5px;
    border: solid deepskyblue;
    border-width: 0 .4em .4em 0;
    display: absolute;
    padding: .3em;
}


#opponent > .turn-indicator {
    transform: rotate(135deg);
}

#me > .turn-indicator {
    transform: rotate(-45deg);
    /*visibility: hidden;*/
}

.stats {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
    background-color: deepskyblue;
    color: white;
    font-size: 2em;
    box-shadow: #333 0 0 10px;
}

.game {
    padding: 10px;
}

.board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr); 
    height: calc(80vh * 6/7);
    background-color: #99d2f2;
    border-radius: 20px;
    justify-items: center;
    align-items: center;
    box-shadow: #333 0 0 10px;
    /*border: #aaa solid 3px;*/
}

.field {
    background-color: white;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
}

.blue-field {
    background: radial-gradient(deepskyblue 50%, #4cd2ff 50%);
    border: #777 solid 2px;
}

.white-field {
    background: radial-gradient(#fff 50%, #ddd 50%);
    border: #777 solid 2px;
}
