.status-bar {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.status-bar > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.player {
    grid-row: 2;
    font-size: 2em;
    background-color: whitesmoke;
    color: #333;
}

.player:nth-child(1) {
    grid-column: 1;
}

.player:nth-child(3) {
    grid-column: 3;
}

.stats {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
    background-color: deepskyblue;
    color: white;
    font-size: 2.5em;
}

.game {
    padding: 10px;
}

.board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr); 
    height: 60vh;
    background-color: lightblue;
    border-radius: 20px;
    justify-items: center;
    align-items: center;
}

.field {
    background-color: white;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    margin: 0 auto 0 auto;
}
