body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url("../images/library.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.wrapper {
    width: 945px;
    margin: 0 auto 0 auto;
    padding-top: 30px;
}


